*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'General Sans';
}
html,body{
    width: 100%;
    height: 100%
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: pink;
}
#panel{
    overflow: hidden;
    width: 90%;
    height: 90%;
    background-color: #fff;
    border-radius: 10px;
}
#ptop{
    padding: 0 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgb(218, 135, 149);
}
.elem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
    font-weight: 600;
}
.box{
    padding: 10px 20px;
    color: rgb(198, 122, 135);
    background-color: #fff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
}

#pbtm{
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.bubble{
    height: 60px;
    width: 60px;
    background-color: rgb(218, 135, 149);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}
.bubble:hover{
    background-color: rgb(198, 122, 135);
    cursor: pointer;
}
